<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/' debug="true">

    <appender name="consoleAppender" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{dd MMM yyyy HH:mm:ss} %5p %C - %m%n"/>
        </layout>
    </appender>

    <appender name="R" class="org.apache.log4j.RollingFileAppender">
        <param name="file" value="./logs/my_project.log"/>
        <param name="MaxFileSize" value="1000KB"/>
        <param name="MaxBackupIndex" value="100"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{dd MMM yyyy HH:mm:ss} %5p %c{1} - %m%n"/>
        </layout>
    </appender>
    
<!--     <appender name="ErrorEmailAppender" class="org.apache.log4j.net.SMTPAppender"> -->
<!--     <param name="SMTPHost" value="smtp.gmail.com" /> -->
<!--     <param name="SMTPUsername" value="aleksandr.anakin@gmail.com" /> -->
<!--     <param name="SMTPPassword" value="password" /> -->
<!--     <param name="From" value="myuser@mydomain.com" /> -->
<!--     <param name="To" value="aleksandr.anakin@gmail.com" /> -->
<!--     <param name="Subject" value="Log of messages" /> -->
<!--     <param name="BufferSize" value="1" /> -->
<!--     <param name="EvaluatorClass" value="TriggerLogEvent" /> -->
<!--     <layout class="org.apache.log4j.PatternLayout"> -->
<!--         <param name="ConversionPattern" value="%t %m%n"/> -->
<!--     </layout> -->
<!-- </appender> -->

<!-- <logger name="com.foo.mailer"> -->
<!--     <level value="INFO" /> -->
<!--     <appender-ref ref="ErrorEmailAppender"/> -->
<!-- </logger> -->


    <root>
        <level value="warn"/>
        <appender-ref ref="consoleAppender"/>
        <appender-ref ref="R"/>
        <!-- <appender-ref ref="mailAppender"/> --> 
    </root>

</log4j:configuration>